/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-purple: #a3888c;
  --clr-red-special: #b4345c;
  --clr-grey-special: #eae6eb;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 920px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-purple);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 800;

}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 2.5rem;
    flex: auto;
    float: left;
    margin-left: 70px;

  }
  h2 {
    font-size: 1.75rem;

  }
  h3 {
    font-size: 1rem;

  }

  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Questions
===============
*/

main {
  min-height: 100vh;
  /* using flex because of better browser support */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90vw;
  margin: 5rem auto;
  background: var(--clr-white);
  border-radius: var(--radius);
  padding: 2.5rem 2rem;
  max-width: var(--fixed-width);
  display: grid;
  gap: 1rem 2rem;
  border: 1px solid black;

}
.container h2 {
  font-weight: 700;
}
@media screen and (min-width: 992px) {
  .container {
    display: grid;
    /* grid-template-columns: 250px 1fr; */
  }
}

.top-content {
  display: flex;
  justify-content: center;
  
}
.add-btn {
  background-color: rgb(47, 240, 47);
  color: white;
  width: fit-content;
  font-size: 1rem;
  display: grid;
  margin: auto;
  padding: .5rem;
  align-items: center;
}

/* 
=================
Input Recipe Info
================== 
*/

.add-recipe-form {
  background: var(--clr-grey-9);
  border: 1px solid rgb(160, 159, 159);
}

.input-recipe-container,
.input-recipe-container-ing,
.input-recipe-container-step {
  width: auto;
  background: var(--clr-grey-9);
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
}

.input-recipe-container {
  margin: 1rem 0 1rem;
}

.input-recipe-container-ing {
  margin: 1rem 0 1rem;
}

.input-recipe-container-step {
  margin: 0 0 .5rem;
}

.input-label {
  display: grid;
  letter-spacing: 2px;
  font-size: 1.2rem;
  margin: .5rem;

}

.input-description,
.input-description-ing  {
  flex: .5 0 auto;
  margin: .5rem;
  padding: .5rem;
}


.input-description-step {
  flex:  .57 0 auto;
  margin: .5rem;
  padding: .5rem;
}

.add-detail-btn {
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
  padding: 5px;
}

.detail-btn {
  font-size: 13px;
  padding: 4px;
}

.submit-btn-container {
  text-align: center;
  margin: 1rem 3rem;
  padding: .5rem;
  align-items: center;
  display: flex;
}

.submit-btn {
  font-size: 20px;
  margin: auto;
  width: 20rem;
  padding: .3rem;
  align-self: center;
}


/* =====================
      Recipe List 
====================== */

.recipe-list-container h2 {
  margin: .75rem;
}

.recipe-list-container p {
  text-align: center;
  margin-right: 20px;
  font-size: 20px;
  letter-spacing: 1px;
}

.recipe-list-forum {
  color:#2d4a4d;
  background: var(--clr-grey-9);
  border: 1px solid rgb(160, 159, 159);

}
.recipe-list {
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  background: var(--clr-grey-9);
}

.recipe-list-item h3 {
  text-align: center;
  margin: auto;
  margin-top: .3rem;
  font-size: 18px;
  padding: .8rem;
}
.recipe-list-item h4 {
  text-transform: none;
  line-height: 1.5;
  color: var(--clr-grey-5);
  border-bottom: 1px solid var(--clr-grey-9);
  margin: .5rem;
  margin-top: 0;
  font-size: 16px;
  letter-spacing: 2px;
  padding: .4rem;
}
.recipe-list p {
  color: var(--clr-grey-3);
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.recipe-list header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recipe-list header h4 {
  margin-bottom: 0;
}

.show-info-btn {
  background: transparent;
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  background: var(--clr-grey-special);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--clr-red-special);
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
}


/* ========
Item
========= */

.recipe-list-item {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  margin-bottom: 0.5rem;
  transition: var(--transition);
  padding: 0.25rem 1rem;
  text-transform: capitalize;
  /* box-shadow: 0 0 11px rgba(33,33,33,.2); */
  background-color: white;
  border: 2px solid var(--clr-grey-9);
}
.recipe-list-item:hover {
  /* color: var(--clr-grey-5);
  background: var(--clr-grey-10); */
  border-radius: var(--radius);
  box-shadow: 0 0 11px rgba(33,33,33,.2);

}
.recipe-list-item:hover .title {
  color: var(--clr-grey-5);
  /* border-radius: var(--radius); */
  box-shadow: 0 0 11px rgba(33,33,33,.2);

}

.form-field {
  flex: .5 0 auto;
}
.output {
  margin-left: 3rem;
  flex: 1;
}
.form-field label,
h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: rgb(84, 84, 84);
}

.form-field input {
  height: 35px;
  width: 100%;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

.form-field input:focus {
  border: 1px solid rgb(0, 0, 0);
}

.services {
  display: flex;
  justify-content: space-between;
}
.first-division {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0.5rem 0;
  width: 100%;
}
.form-field button {
  background: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 2px;
  padding: 5px 10px;
}

.first-division button {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  background-color: rgb(58, 238, 52);
  color: white;
  border: 1px solid rgb(0, 0, 0);
}

.second-division button {
  color: red;
  border: 1px solid red;
}
